doctype html
html(lang="en")
    head
        title="Jorge Valdez"
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
            
        link( href='styles/style.css', rel='stylesheet', type='text/css' )
            
    body
        .heading
            #greeting Hello
            #nice Nice to meet you
        
        p
            | My name is Jorge Valdez.
            br
            | I am a freshman Computer Science major attending Southern
            | Methodist University. 
            br
            | I enjoy making cool things
            | with code.
            br
            
            .social
                a(href="http://github.com/jorgeavaldez")
                    img(id='github' class="icons" src='icons/github.svg')
                        
                a(href="http://linkedin.com/in/jorgeavaldez")
                    img(id='linkedin' class="icons" src='icons/linkedin.svg')
                        
                a(href="http://twitter.com/v_jorgea")
                    img(id='twitter' class="icons" src='icons/twitter.svg')
                        
                a(href="http://facebook.com/valdez.a.jorge")        
                    img(id='facebook' class="icons" src='icons/facebook.svg')
                
        .languages
            #langHead Languages
            .description
                | Programming, of course, involves the use of languages
                | to boss around computers. Here are some of the ones I
                | like to use.
                
            .description#java 
                #langSub Java
                
                | I have been programming in Java for 5 years now,
                | starting my freshman year of high school. I have
                | competition experience, attending HP CodeWars, as
                | well as participating in Texas UIL competition. I
                | have a working knowledge of various algorithm and
                | data structure implementations in Java, as well as
                | most of the standard libraries.
                    
            .description#python 
                #langSub Python
                
                | One of my top favorite languages. My first exposure
                | to this language came about 3 years ago, when I decided
                | to write a small little program to help me with my physics
                | homework. I have experience writing small web scrapers
                | (to download images from websites), as well as math tools,
                | CLI tools, natural language processing, and even a Raspberry
                | Pi camera booth that plays Mad-Libs.
                    
            .description#javascript 
                #langSub Javascript/Coffeescript
                
                | I'm currently a Javascript novice. I tend to use
                | Coffeescript, as it leads to cleaner code, and the syntax
                | reminds me of Python <3. My first foray into the depths of
                | the language came this year at HackTX, a hackathon at UT
                | Austin, where I made use of Socket.IO to write a hybrid 
                | mobile web-app that allowed people to draw on their 
                | televisions using DirecTV boxes.
                    
            .description#cpp 
                #langSub C++
                
                | C++ is one of the languages that I hated from the beginning,
                | but am quickly growing fond of. I first started using this
                | language this year, as one of the introductory programming
                | courses I was required to take. I am currently taking a
                | Data Structures and Algorithms course where we are learning
                | to love the language. Pointers and memory-management are
                | starting to become some of my favorite concepts.
