body {
  font-family: monospace;
  font-size: 1.2em;
}

p {
  display: inline-block;
  padding: 0.5rem;

  color: white;
  background-color: black;
}

/**
 * BEGIN link styles
 */

a {
  background-color: white;
  padding: 0.4rem;
  outline: 0.1rem solid;
  line-height: 2.4rem;
}


a:link {

}

a:visited {

}

a:focus {

}

a:hover {

}

a:active {

}

/**
 * END link styles
 */

.section {
  display: block;
  margin-bottom: 2.6rem;
}

#hello {
}

#hello h1 {
  margin-bottom: 1.6rem;
}

#hello img {
  max-height: 20rem;
}

#name {
  font-style: italic;
  display: inline-block;
  padding: 0.5rem;

  color: white;
  background-color: black;
}

#email p {
  font-style: italic;
  font-weight: bold;
}

#email a {
  font-style: italic;
  font-weight: bold;
}
